<html>
    <head>
        <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
        <meta name="viewport" content="width=device-width;initial-scale=1.0">
        <title>CS571 Assignment 3</title>
        <link rel="stylesheet" type="text/css" href= <?php echo "'".asset_url()."style.css'"; ?>  />
        <script type="text/javascript" src=<?php echo "'".asset_url()."jsfile.js'"; ?> ></script>
    </head>
    <!--
     <script language="JavaScript">
     var titletxt="The world’s largest online video retail store!";
     var pos=0;
     function movetitle()
     {
     document.form1.titlefield.value=titletxt.substring(0,pos);
     if(pos++!=titletxt.length)
     {
     setTimeout("movetitle()",150);
     }
     }
     </script>
     -->
    <body class="font-common" onload="movetitle()">
        <div class="box1" style="background-color:#232f3d">
            
            <div style="display:inline-block;height:80px;width:140px;margin:0 40px 0 40px;">
                <img src=<?php echo "'".asset_url()."pic/bunnyfox.png'"; ?> height="80" width="140">
                    </div>
            
            <div style="display:inline-block;color:#888888;height:40px;width:500px;position:relative;bottom:10px">
                <div style="width: 750px; height: 40px;position:relative;bottom:20px">
                    <form METHOD=POST action=<?php echo site_url('Search'); ?>>
                        <div style="width: auto; height: 40px; float: left; display:inline;">
                            <select id="productcategoryid" name="productcategoryid" style="font-size:10px;color:#444444;height:30px;width:150px;background-color:white">
                                <option value="%">All Product</option>
                                <?php
                                   // $sql2="select * from productcategory";
                                  //  $con=mysql_connect(':/home/scf-27/chentian/mysql.sock', 'root', '1992');//when to close?????
                                 //   if(!$con){
                                  //      die;//
                                   // }
                                  //  mysql_select_db('assignment3',$con);
                                   // $res2=mysql_query($sql2);
                                    while($row2 = mysql_fetch_assoc($search_res))
                                    {
                                        
                                        //echo $row2['productcategoryid'];
                                        echo '<option value="';
                                        echo $row2['productcategoryid'].'">';
                                        echo $row2['productcategoryname'].'</option>';
                                    }
                                ?>
                            </select>
                        </div>
                        
                        <div style="width: auto; height: auto; float: left; display: inline">
                            
                            <input class="input" id="productid" name="productid" type="text" size="40px" style="border:1px; height:30px;  font-size:20px"/>
                            
                        </div>
                        
                        <div style="width: auto; height: auto; float: left; display: inline">
                            <button id="searchbutton" class="searchbutton" style="width: 100px; height: 30px;border-radius:3px;"  >Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div style="display:inline-block;height:40px;width:auto;float:right;padding:5px;position:relative;top:35px;">
                <form method=POST action=<?php echo site_url('Signup'); ?>>
                    <button class="rightbutton">Sign Up</button>
                </form>
            </div>
            
        </div>
        <div class="box2" style="width:600px;height:300px;margin:20px auto auto auto;border:1px solid #bdc7d7">
            <p style="margin:0px auto 10px 20px;font-weight:bold;font-size:20px;">Bunny&Fox Login</p>
            <div style="background-color:#bdc7d7;width:100%;height:1px;"></div>
        <FORM METHOD=POST ACTION=<?php echo site_url('Login'); ?> onsubmit="return validate_form2(this)">
            <div class="textbox" style="margin:10px 100px auto 30px;float:right;color:#2b3a57;font-size:20px">
                <label>&nbsp;username:</label>
                <INPUT TYPE="text" name="username" id="username" class="inputbox" value="">
                    </div>
            <div class="textbox" style="margin:10px 100px auto 30px;float:right;color:#2b3a57;font-size:20px">
                <label>&nbsp;password:</label>
                <INPUT TYPE="password" name="password" id="password" class="inputbox" value="">
            </div>
            
           <div style="margin:45px auto auto 140px;float:left;font-size:14px;">
               <?php echo "<p style='color:red'>".$errmsg."</p>"; ?>
